.sign-in {
    width: 380px;
    .title {
        margin: 10px 0;
    }

    button {
        width: 100%;
        margin-bottom: 1rem;
    }

    @media screen and (max-width: 50em) {
        margin-bottom: 30px;
    }
}